:root {
  background-color: #090212;
  color: #eee0ff;
}

body {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  & td {
    border: rgb(219, 219, 231) 1px solid;
  }
}